@media (max-width: 992px) {
   .logo {
      margin-left: auto;
   }
   #home-category {
      color: white;

      background: rgb(68, 58, 36);
   }
   .navbarMenu {
      display: flex;
   }
   .homes {
      background: rgb(68, 58, 36);
   }
   .cart {
      right: -1000px;
      width: 370px;
   }
   body .active1 .cart {
      right: 5px;
   }
   .cart-container {
      display: flex;
      flex-direction: column;

      height: 40%;
      width: 100%;
      overflow: scroll;
      margin-bottom: 60px;
   }

   .nav-prod {
      height: 0vh;
      width: 0vw;
      background: none;
      position: fixed;
      z-index: 2;
   }
   .li-prod {
      background: rgb(233, 230, 230);
      box-shadow: none;
   }
   .liProdHamb {
      background: rgb(233, 230, 230);
   }
   .home {
      left: 30px;
   }
   .container-slider {
      width: 50%;
      left: 50px;
   }
   .slider__section {
      width: 60%;
   }
   .li-opc {
      display: none;
      width: 100vw;
      z-index: 2;
   }
   .open-menu {
      display: flex;
   }
   .Beneficios {
      width: 90vw;
      left: 0px;
   }
   .productos {
      position: relative;
      width: 100vw;
      left: 80px;
      right: inherit;
   }

   .contacto {
      left: 100px;
   }
   .product-1 {
      width: 30vw;
   }
   .footer {
      width: 100vw;
   }
}
@media (max-width: 576px) {
   header {
      width: 100vw;
   }
   main {
      width: 100vw;
   }
   .pag-1 {
      width: 100vw;
   }
   #home-category {
      color: white;

      background: rgb(68, 58, 36);
   }
   .home {
      left: 10px;
      margin-left: 0px;
      margin-right: 0px;
      width: 100vw;
   }
   .homeNav {
      background: rgb(68, 58, 36);
   }
   .productos {
      gap: 10px;
      width: 100vw;
      left: 40px;
      right: 0;
   }
   .cart {
      right: -1000px;
      width: 105vw;
   }
   body .active1 .cart {
      right: -10px;
   }

   .product-1 {
      width: 250px;
      height: 50vh;
   }
   .img-info {
      height: 50%;
   }
   .info {
      height: 50%;
   }

   .footer {
      width: 130vw;
   }
   .container-slider {
      width: 60vw;
      left: 30px;
   }
   .Beneficios {
      width: 100vw;
      margin-bottom: 80px;
   }
   .cards-Beneficios {
      width: 100px;
   }
   .contacto {
      left: -10px;
      width: 100vw;
      flex-direction: column;
   }
   .mensaje {
      width: 80vw;
      position: relative;
      left: -20px;
   }
   .form__field {
      position: relative;
      left: -20px;
   }
   .form__field input {
      width: 300px;
   }
}
